section.load-more-btn {
    background-color: rgba(0, 0, 0, 0.816);
    box-shadow: var(--box-shadow);
    font-weight: bold;
    color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    box-sizing: content-box;
    padding: 0.7rem;
    border-radius: 1rem;
    margin-inline: auto;

    &:hover {
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    section.load-more-btn {
        font-size: 1rem;
    }
}
