div.profile-pic-cutter {
    width: var(--profile-pic-size);
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    // за буквите

    // background: url('https://mediaproxy.salon.com/width/1200/https://media.salon.com/2013/09/breaking_bad_sirota.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;
    // да е над gradient background-а в user card mobile

    &.empty {
        background-color: #f39f86;
        background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    }
}

@media (pointer: fine) {
    div.profile-pic-cutter:hover {
        cursor: pointer;
    }
}
