@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Neucha&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --main-bg: hsl(0, 0%, 90%);

    --banner-bg: hsl(0, 0%, 0%);
    --logo-primary: hsl(0, 0%, 100%);
    --logo-secondary: hsl(60, 100%, 45%);
    --logo-circle-s-bg: hsl(211, 75%, 11%);
    --logo-circle-m-bg: hsl(210, 87%, 21%);
    --logo-circle-l-bg: hsl(210, 87%, 42%);
    --logo-sub-cl: hsl(180, 0%, 50%);

    --form-btn-bg: 20, 27, 65;

    --light-black: hsl(0, 0%, 27%);
    --grey: hsl(0, 0%, 57%);

    --nav-bg: -webkit-linear-gradient(
        90deg,
        rgb(18, 36, 52) 0%,
        rgb(4, 37, 72) 100%
    );

    --blue: rgb(40, 123, 255);
    --white: #fff;
    --black1: #222;

    --color-light: rgba(132, 139, 200, 0.18);
    --color-background: #f6f6f9;

    --box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.1875rem 0.375rem,
        rgba(0, 0, 0, 0.23) 0rem 0.1875rem 0.375rem;

    --color-1: #4f7cac;
    --color-2: #3c474b;
    --color-3: #162521;
    --color-4: #c0e0de;
    --color-5: #9eefe5;

    --profile-pic-size: 2.8rem;

    --heading-bg: hsl(116, 82%, 19%);
    --heading-bg: #043565;
    --article-bg: hsl(34, 78%, 80%);
    --comments-secondary-bg: hsl(348, 83%, 40%);

    --font-georgia: Georgia, 'Times New Roman', Times, serif;
    --font-kurale: 'Kurale', serif;
    --font-neucha: 'Neucha', cursive;
    --font-roboto: 'Roboto', sans-serif;
}
body > div#root > span {
    display: inline-block;
    margin-left: 25rem;
    font-family: var(--font-kurale);
    font-size: 2rem;
}
